// Name:            Link
// Description:     Base styles for links
//
//
// ========================================================================


// Variables
// ========================================================================

$link-primary-color: $global-text-color !default;
$link-hover-color: $global-link-color !default;


/* ========================================================================
   Component: Link
 ========================================================================== */

a {
	color: $link-hover-color;
}
