// Name:            Typography
// Description:     Component to set typography styles
//
// ========================================================================


// Variables
// ========================================================================

// Font weights

$normal: $font-weight-normal !default;
$bold: $font-weight-bold !default;

// Font colours

$base-text-color: #222 !default;


/* ========================================================================
   Component: Typography
 ========================================================================== */

html {
  color: $base-text-color;
  font-family: 'Helvetica Neue';
	line-height: 1.13;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $bold;
}
