// Name:            Background
// Description:     Helper to provide background colour so that card
//									component is more clearly visible
//
// Component:       `h-bg`
//
// ========================================================================


/* ========================================================================
   Component: Background
 ========================================================================== */

.h-bg {

	&--white {
		background-color: #fff;
	}

	&--grey-light {
		background-color: #f8f8f8;
	}

	&--grey-medium {
		background-color: #f1f1f1;
	}
}
