// Name:            Padding
// Description:     Helper to provide space above container
//
// Component:       `h-padding`
//
// ========================================================================


/* ========================================================================
   Component: Padding
 ========================================================================== */

.h-padding {
	margin-top: 50px; // Ok, it's not padding but it's just a quick spacer
	padding: 100px 0;
}
